ul{
    display: flex;
    /* justify-content: flex-start;
    align-items: center; */
    gap: 1rem;
    margin-left: -2rem;
}
.color-btn{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    height: 24px;
    width: 24px;
    list-style: none;
}

.color-btn input{
    position: absolute;
    opacity: 0;
    cursor: pointer;
    z-index: 2;
}
.checkmark{
    position: absolute;
    height: 24px;
    width: 24px;
    background: transparent;
    border-radius: 50%;
}
.color-btn input:checked ~ .active{
    border: 1px solid black;
}