.app{
    position: relative;
    padding: 1% 10%;   
    .app__header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media screen and (max-width: 768px) {
            flex-direction: column;
          }
        .app__name{
            font-family: 'Potta One', cursive;
            text-align: center;
        }
        input{
            min-width: 280px;
            padding: 0.4rem 0.8rem;
            border:1px solid #eeeeee;
            border-radius: 5px;
            font-size: 0.95rem;
            color: darkgrey;
            &:focus{
                outline: none;
            }
            &::placeholder{
                color: darkgrey;
            }
            @media screen and (max-width: 768px) {
                margin-top: 1.5rem;
              }
        }

        button{
            border: none;
            height: 2.5rem;
            width: 2.5rem;
            border-radius: 50%;
            line-height: 0;
        
        @media screen and (max-width: 992px) {
                display: none;
              }
        }
    }
    .fab{
        position: fixed;
        bottom: 4%;
        right: 4%;
        border: none;
        height: 3rem;
        width: 3rem;
        border-radius: 50%;
        line-height: 0;
        @media screen and (min-width: 992px) {
            display: none;
          }
    }
}