.app__notes {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    .app__note {
        flex: 1 1 25%;
        max-width: 25%;

        @media screen and (min-device-width: 992px) and (max-device-width: 1200px) {
            flex: 1 1 33.3%;
            max-width: 33.3%;
        }

        @media screen and (min-device-width: 768px) and (max-device-width: 992px) {
            flex: 1 1 33.3%;
            max-width: 33.3%;
        }

        @media screen and (min-device-width: 576px) and (max-device-width: 768px) {
            flex: 1 1 50%;
            max-width: 50%;
        }

        @media screen and (min-device-width: 0) and (max-device-width: 576px) {
            flex: 1 1 100%;
            max-width: 100%;
        }

        .card {
            font-family: 'Poppins', sans-serif;

            .card-body {
                .card-text {
                    text-align: justify;
                    word-spacing: normal;
                    font-size: 0.9rem;

                    @media screen and (min-device-width: 768px) and (max-device-width: 992px) {
                        font-size: 0.8rem;
                    }

                    @media screen and (min-device-width: 576px) and (max-device-width: 768px) {
                        font-size: 0.8rem;
                    }

                }

                .card-time-btn {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    .time-date {
                        font-size: 0.7rem;
                        font-weight: 400;
                    }

                    .card-btn {
                        display: flex;
                        gap: 1rem;

                        .edit {
                            border: none;
                            background: transparent;
                        }

                        .delete {
                            border: none;
                            background: transparent;
                        }
                    }
                }
            }
        }
    }
}